#editor-textarea-lineno{
    overflow: hidden;
}
#editor-textarea-lineno,#editor-textarea-body,#editor-modal-textarea-body{
    white-space:nowrap;
    resize:none;
}

.scrollable{
    height:auto;
    max-height:200px;
    overflow-x: hidden;
}

@media(max-width:767px){
    #editor-edit,#editor-help{
        margin-top:10px;
    }
}
